@import url('https://fonts.googleapis.com/earlyaccess/kopubbatang.css');
@import url('https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-gallery-thumbnail {
  height: 80px;
}

.image-gallery-thumbnail-inner {
  height: 70px;
}

.image-gallery-thumbnail-image {
  aspect-ratio: 4 / 3;
  object-fit: contain;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  aspect-ratio: 4 / 3;
}